<%- include("header.ejs") %>
    <div class="box">
        <% for(var i = 0; i < toDoItems.length; i++) { %>
            <form action="/deleteWork" method="POST">
                <div class="item__withRemoveBtn">
                    <div class="item__inner">
                        <input type="checkbox" name="checkbox" value="<%= toDoItems[i].id %>" onchange="this.form.submit()" id="item-<%= i %>">
                        <p>
                            <label for="item-<%= i %>"><%= toDoItems[i].description %></label>
                        </p>
                    </div>
                </div>
            </form>
        <% } %>
        <!--add work task-->
        <form action="/work" class="class" method="POST">
            <input type="text" name="newWorkTask" placeholder="New Work Task" autocomplete="off" autofocus>
            <button class="button" type="submit">+</button>
        </form>
    </div>

<%- include("footer.ejs") %>